spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST}/${DB_NAME}?allowPublicKeyRetrieval=true&useSSL=false
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      initialization-fail-timeout: 0
  jpa:
    database-platform: org.hibernate.dialect.MySQL5Dialect
    generate-ddl: true
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  port: 8443
  ssl:
    key-store: /app/local.cert-chain.pem
    key-store-password: "NNtN9t{hVcYTp5ji:9P4$K]="
    keyStoreType: PKCS12
    keyAlias: "mothertongue.online"